/* GLOBAL */
:root {
    --orange-light: #F5EEDC;
    --orange-dark: #ECB390;
    --orange-darkness: #e7a175;
    --whiteSmoke: #f5f5f5;
    --green-light: #82B48C;
    --green-dark: #607e60;
    --red-light: #DD4A48;
    --red-dark: #C31207;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--orange-light);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.main_container {
    position: relative;
    top: 78px;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: noteworthy;
    font-weight: bold;
}

h1 {
    font-size: 1.7rem;
    font-style: italic;
    color: var(--whiteSmoke);
}

h2 {
    font-size: 1.3rem;
    color: var(--orange-darkness);
}

h3 {
    font-size: 1.1rem;
}

tr {
    height: 60px;
}

.button {
    color: var(--whiteSmoke);
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}

button {
    color: var(--whiteSmoke);
    padding: 8px;
    border: hidden;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.validate {
    background: var(--green-light);
}

.validate:hover {
    color: var(--whiteSmoke);
    background: var(--green-dark);
}

.update {
    background: var(--orange-dark);
}

.update:hover {
    color: var(--whiteSmoke);
    background: var(--orange-darkness);
}

.delete {
    background: var(--red-light);
}

.delete:hover {
    color: var(--whiteSmoke);
    background: var(--red-dark);
}

/* NAVIGATION BAR */
nav {
    background: var(--orange-light);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul .navbar-brand {
    font-family: noteworthy;
    color: var(--green-light);
}

nav ul .navbar-brand:hover {
    color: var(--green-dark);
}

nav li .dropdown-menu {
    background: var(--orange-light);
}

nav ul li .nav-link,
nav ul li .dropdown-item {
    color: var(--orange-darkness);
}

nav ul li .nav-link:hover {
    color: var(--orange-dark);
    text-decoration: underline;
}

nav .navbar-toggler {
    color: var(--orange-darkness);
}

/* HEADER */
header {
    background-image: url("/images/table.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 275px;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN & USER INFORMATIONS */
.login,
.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.login .card,
.informations .card {
    border: 5px solid var(--green-light);
    background: var(--orange-light);
    padding-inline: 10px;
}

/* HOME */
/* Introduction */
.home {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.home h2 {
    padding-bottom: 25px;
    text-align: center;
}

.home p {
    text-align: justify;
}

.home em {
    font-style: normal;
}

.home a {
    text-decoration: none;
    font-weight: 300;
    color: var(--green-light);
}

.home a:hover {
    text-decoration: underline;
}

/* Logo */
.home .logo_wrapper {
    display: none;
}

.home .logo_wrapper .logo {
    width: 200px;
    height: 200px;
}

/* Menu */
.menu,
.menu .card_wrapper {
    display: flex;
    justify-content: center;
}

.menu {
    padding-block: 50px;
}

.menu h2 {
    padding-bottom: 30px;
    text-align: center;
}

.menu .clickable:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.menu .clickable_img {
    border-radius: 15px;
}

.menu .img-title {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    color: var(--whiteSmoke);
}

/* RECIPES CATEGORIES PAGES */
.categories {
    display: flex;
    justify-content: center;
    padding-block: 50px;
}

.categories .card {
    background: var(--orange-light);
    border-radius: 15px;
}

.categories .card img {
    border: 8px solid var(--green-light);
    border-radius: 15px 15px 0 0;
}

.categories h2,
.categories h3 {
    margin-top: 15px;
}

.categories h2 {
    text-align: center;
    text-decoration: underline;
}

.categories h3 {
    margin-bottom: 15px;
}

.categories .card-body {
    padding-inline: 25px;
}

.categories .card-body .card-text {
    text-align: justify;
}

/* INGREDIENTS & RECIPES LIST WHITH CRUD */
.ingredients,
.ingredients_new,
.recipe_list,
.recipes_new {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75vh;
    padding-block: 100px;
}

.ingredients table,
.recipe_list table {
    border: 3px solid var(--green-light);
}

.ingredients_new .card,
.recipes_new .card {
    border: 5px solid var(--green-light);
    background: var(--orange-light);
    padding-inline: 10px;
}

.recipes_new .form-image img {
    width: 200px;
    height: auto;
    text-align: center;
    border: 5px solid var(--green-light);
    border-radius: 15px;
    margin-block: 15px;
}

/* FOOTER */
footer {
    height: 75px;
    background-color: var(--orange-dark);
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div .far,
footer div span {
    color: var(--whiteSmoke);
}

@media screen and (min-width: 992px) {

    /* GLOBAL */
    .main_container {
        top: 89px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    /* HEADER */
    header {
        height: 500px
    }

    /* HOME */
    .home {
        padding-top: 50px;
    }

    /* Introduction */
    .home .introduction {
        padding: 45px;
    }

    .home h2 {
        text-align: initial;
    }

    .home p {
        text-align: initial;
    }

    /* Logo */
    .home .logo_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home .logo_wrapper .logo {
        width: 250px;
        height: 250px;
    }

    /* Menu */
    .menu {
        padding-block: 100px;
    }

    /* RECIPES CATEGORIES */
    .categories .card-body {
        padding-inline: 50px;
    }

    /* FOOTER */
    footer {
        height: 100px;
    }
}