/* GLOBAL */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F5EEDC;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.main_container {
    position: relative;
    top: 93px;
}

h1,
h2,
h3 {
    font-family: noteworthy;
    font-weight: bold;
}

h1 {
    font-size: 1.7rem;
    font-style: italic;
    text-align: center;
    color: #ECB390;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.3rem;
    color: #ECB390;
    text-align: center;
    margin-block: 25px;
}

h3 {
    font-size: 1.1rem;
}

tr {
    height: 60px;
}

.button {
    color: #f5f5f5;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}

button {
    color: #f5f5f5;
    padding: 8px;
    border: hidden;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.validate {
    background: #82B48C;
}

.validate:hover {
    color: #f5f5f5;
    background: #607e60;
}

.update {
    background: #ECB390;
}

.update:hover {
    color: #f5f5f5;
    background: #e7a175;
}

.delete {
    background: #DD4A48;
}

.delete:hover {
    color: #f5f5f5;
    background: #C31207;
}

.main_ingredients table,
.main_recipes table {
    border: 5px solid #82B48C;
}

/* NAVIGATION BAR */
nav {
    background: #F5EEDC;
}

.nav_logo {
    width: 75px;
    height: auto;
    margin-inline: 20px;
}

nav li .dropdown-menu {
    background: #F5EEDC;
}

nav ul li .nav-link,
nav ul li .dropdown-item {
    color: #DD4A48;
}

nav ul li .nav-link:hover {
    color: #ECB390;
    text-decoration: underline;
}

/* HEADER */
header {
    height: 200px;
    display: flex;
    align-items: center;
    background-image: url('/images/rosemary.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main_ingredients_new .card,
.main_recipes_new .card {
    border: 5px solid #82B48C;
}

/* MAINS */
.main_login,
.main_home,
.main_ingredients,
.main_ingredients_new,
.main_recipes,
.main_recipes_new,
.main_informations {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-block: 50px;
}

.main_login .form,
.main_informations .form,
.main_ingredients_new .form,
.main_recipes_new .form {
    padding: 25px;
}

/* LOGIN */
.main_login .form {
    border: 5px solid #82B48C;
}

/* HOME */
.main_home p {
    text-align: justify;
}

.main_home em {
    font-style: normal;
}

.main_home a {
    text-decoration: none;
    font-weight: 300;
    color: #DD4A48;
}

.main_home a:hover {
    text-decoration: underline;
}

.main_home .menu {
    padding-top: 50px;
}

.main_home .menu_card {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.main_home .clickable:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.main_home .clickable_img {
    border-radius: 15px;
}

.main_home .img-title {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    color: #F5EEDC;
}

/* RECIPES CATEGORIES PAGES */
.main_recipes .card {
    border: 5px solid #82B48C;
}

.main_recipes .card-body {
    padding: 50px;
}

.main_recipes .card-body .card-text {
    text-align: justify;
    margin: 15px;
}

.main_recipes h2 {
    color: #ECB390;
}

.main_recipes h2,
.main_recipes h3 {
    text-decoration: underline;
}

/* RECIPES LIST PAGES */
.main_recipes_new .form-image img {
    width: 100%;
    height: auto;
    border: 10px solid #F5EEDC;
    border-radius: 15px;
    box-shadow: 0 0 5px #000000;
    margin-block: 15px;
}

/* FOOTER */
footer {
    height: 75px;
    background-color: #ECB390;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div .far,
footer div span {
    color: #F5EEDC;
}

@media screen and (min-width: 992px) {

    /* GLOBAL */
    .main_container {
        top: 115px;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    /* NAVIGATION BAR */
    .nav_logo {
        width: 100px;
        height: auto;
    }

    /* HEADER */
    header {
        height: 400px;
    }

    /* MAIN */
    .main_login,
    .main_home,
    .main_ingredients,
    .main_ingredients_new,
    .main_recipes,
    .main_recipes_new,
    .main_informations {
        padding-block: 75px;
    }

    /* HOME PAGE */
    .main_home {
        align-items: center;
    }

    .main_home .introduction {
        padding-right: 50px;
    }

    .main_home p {
        text-align: initial;
    }

    /* FOOTER */
    footer {
        height: 100px;
    }
}