{% extends 'base.html.twig' %}

{% block title %}Mofication mot de passe -
	{{ parent() }}
{% endblock %}

{% block body %}
	<header class="row">
		<section class="col-12">
			<h1><strong>Modifier mon mot de passe</strong></h1>
		</section>
	</header>
	<main class="main_informations row">
		<section class="col-12 col-lg-9">
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</section>
	</main>

	{% endblock %}
